h1.listaPage {
    color: black;
}
h2.listaPage {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.listapage-titulomodal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
