
.minhaslistas-header{
    background-color: #211F1F;
    height: 35px;
    padding-left: 100px;
    padding-right: 100px;
}
.minhaslistas-titulopagina{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #FFFFFF;
}
.minhaslistas-formulario{
    margin-left: 20px;
}
.minhaslistas-titulolistas {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.containerLista {
    padding-left: 60px;
    background-color: rgb(170, 170, 170);
    height: 100px;
    width: 30%;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
}
.minhaslistas-modaldelete{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}
